<%- include('../../partials/header', {title: '505'}) %>

    <div class="container">
        <h1 class="text-center">Please wait while for some technical problems</h1>
    </div>


    <%- include('../../partials/footer') %>

        </body>
                 
        </html>